*{padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
font-family: cursive;
}
textarea{
    border-radius: 12px;
    border: 1ps solid rgb(69, 69, 39);
}

h3{
    color: darkcyan;
    text-decoration: wavy;
}
h1{font-style:italic;
    text-decoration: underline;
    font-weight: 600;
    font-size: 34px;
    color: #5a6068;
}
form{
    display: flex;
    border: 0;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 500px;

    height: 50px;
    border-radius: 15px;
border: 1.5px solid rgb(157, 126, 67);
}

.formate{
margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    font-size: 1.5rem;
    padding: 7px;
    font-weight: 800;
}
.container{
    background: #dfc1c1;
}
[type="submit"] {
 width: 200px;
    background: #5a6068;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
  }
  [type="submit"]:hover {
    background: #2f4816;
  }
  